/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Laravel storage (jangan commit file upload/logs/compiled cache)
storage/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore

# Laravel public storage (hasil upload / symlink)
public/storage

!storage/assets/img/fasilitas/

# Abaikan semua isi storage/app/public
storage/app/public/*

# Berikan pengecualian untuk folder fasilitas
!storage/app/public/assets
!storage/app/public/assets/img
!storage/app/public/assets/img/fasilitas/

# Pastikan file di dalam fasilitas tidak diabaikan
!storage/app/public/assets/img/fasilitas/**
