/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# --- KONFIGURASI AGAR PUBLIC NAIK SEMUA ---

# Jangan abaikan folder public sama sekali
!/public/

# Tetap abaikan file sistem Laravel yang tidak perlu di-upload
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*
public/hot
